<style>
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f8f7f6;
    margin-bottom: 100px;
    max-width: 1000%;
    height: auto;
}

.nav {
    overflow: hidden;
    background-color: #f8f7f6;
    max-width: 1400px; 
    margin: 0 auto; 
    box-sizing: border-box; 
}

.nav a {
    float: right;
    display: block;
    color: black;
    text-align: right;
    padding: 14px 20px;
    text-decoration: none;
    text-indent: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

.nav a:hover {
    background-color: #c5c4d5; 
    color: #f8f7f6; 
    font-weight: bold; 
    transition: 0.3s; 
}

.homeNav a:hover {
    background-color: #8e8b81; 
    color: #ffffff; 
    font-weight: bold; 
    transition: 0.3s; 
}

.image-container {
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.image-container img {
    width: 100%;
    max-width: 1200px;
    height: 400px;
}

.believe {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: black;
    border-style: solid;
    border-color: #f8f7f6;
    border-width: 15px;
    background-color: #f8f7f6;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
}

.tatlong-image {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.mga-history-image {
    text-align: center;
    margin: 10px;
}

.mga-pangalan {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #986c4a;
    margin-top: 10px;
    font-size: 15px;
}

.tatlong-image img {
    border-radius: 0%;
    margin: 17px;
    width: 300px;
    height: 300px;
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

</style>